.newspaper {
  background-color: antiquewhite;
  font-family: var(--Times-New-Roman);
  font-weight: 700;

  --Times-New-Roman: 'Times New Roman';
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: var(--Verdana);
  font-weight: 900;
  text-transform: uppercase;

  --Verdana: 'Verdana';
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: var(--Verdana);
  font-weight: 900;

  --Verdana: 'Verdana';
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

#carta-gerada span {
  display: inline-block;
  user-select: none;
  cursor: pointer;
}
