* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(40, 40, 40);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

#mistery {
  position: fixed;
  left: 0;
  top: 0;
  margin: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: transform 1s linear;
}

.esconder-mistery {
  transform: translateY(-150%);
}

#mistery:hover {
  background-color: rgb(60, 60, 60);
  box-shadow: 0 0 3px 1px rgb(80, 80, 80);
}

.newspaper {
  background-color: antiquewhite;
  font-family: var(--Times-New-Roman);
  font-weight: 700;

  --Times-New-Roman: 'Times New Roman';
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: var(--Verdana);
  font-weight: 900;
  text-transform: uppercase;

  --Verdana: 'Verdana';
}

.magazine2 {
  background-image: url('../img/pink-pattern.png');
  color: fuchsia;
  font-family: var(--Verdana);
  font-weight: 900;

  --Verdana: 'Verdana';
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

.rotateleft.skewleft {
  transform: rotate(-5deg) skewX(10deg);
}

.rotateleft.skewright {
  transform: rotate(-5deg) skewX(-10deg);
}

.rotateright.skewleft {
  transform: rotate(5deg) skewX(10deg);
}

.rotateright.skewright {
  transform: rotate(5deg) skewX(-10deg);
}

#carta-texto-conteiner {
  padding: 0 45px;
  margin: 10px 0;
}

#carta-texto-label {
  max-width: 400px;
  min-width: 100px;
  margin: 0 auto;
  padding: 5px;
  border: 1px white solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#carta-texto-label:hover {
  background-color: rgb(60, 60, 60);
  box-shadow: 0 0 3px 1px rgb(80, 80, 80);
}

#carta-texto {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  margin-right: 5px;
  padding: 3px;
}

#limpar-campo {
  position: relative;
  line-height: 22px;
  font-size: 40px;
  color: red;
  user-select: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-right: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
}

#limpar-campo:hover:before {
  content: 'Limpar';
  position: absolute;
  display: block;
  padding: 5px;
  font-size: 15px;
  color: white;
  background-color: rgb(20, 20, 20);
  left: -14px;
  bottom: -42px;
  border: 1px solid white;
  z-index: 0;
}

#limpar-campo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 34px;
  width: 1px;
  height: 28px;
  background-color: white;
}

#criar-carta {
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
  user-select: none;
  padding: 3px;
}

#criar-carta img {
  width: 22px;
  height: 22px;
}

#carta-contador-conteiner {
  width: 80%;
  margin: 0 auto;
}

#carta-contador-conteiner * {
  display: inline-block;
}

#carta-gerada {
  width: 80%;
  margin: 0 auto 10px;
  padding: 20px;
  background-color: rgb(230, 180, 120);
  border-radius: 20px;
  color: black;
  text-align: justify;
  user-select: none;
}

#carta-gerada span {
  display: inline-block;
  cursor: pointer;
  margin: 2px;
}

/* Envelope/Carta */
#envelope {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: yellow;
  margin: 10px;
  width: var(--envelope-largura);
  height: var(--envelope-altura);
  transition: transform 500ms linear;

  --envelope-largura: 170px;

  --envelope-altura: 100px;
}

.esconder-envelope {
  transform: translateX(-150%);
}

#envelope:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  width: 0;
  height: 0;
  border-top: calc(var(--envelope-altura) * 0.75) solid rgb(200, 200, 0);
  border-left: calc(var(--envelope-largura) / 2) solid transparent;
  border-right: calc(var(--envelope-largura) / 2) solid transparent;
  transform: rotateX(0);
  transform-origin: top;
  transition: z-index 0s 500ms linear,
    transform 500ms 500ms linear,
    border-top-color 0s 750ms linear;
}

#envelope:hover:before {
  z-index: 0;
  border-top-color: white;
  transform: rotateX(180deg);
  transform-origin: top;
  transition: z-index 0s 500ms linear,
    transform 500ms linear,
    border-top-color 0s 250ms linear;
}

#envelope:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.4);
}

#carta {
  position: relative;
  z-index: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  margin: auto;
  text-align: center;
  font-size: calc(var(--envelope-largura) / 3);
  background-color: rgb(230, 180, 120);
  transition: transform 500ms linear;
}

#envelope:hover #carta {
  transition: transform 500ms 500ms linear;
  transform: translateY(-60%);
  z-index: 1;
}

#texto {
  display: inline-block;
  user-select: none;
  cursor: pointer;
}

.texto-clicado {
  color: aqua;
}
